<div class="flex flex-1  flex-col md:flex-row lg:flex-row mx-2">
    <div class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full">
        <div class="bg-gray-200 px-2 py-3 border-solid border-gray-200 border-b">
            Employee Table
        </div>
        <div class="p-3">
            <table class="table-responsive w-full rounded">
                <thead>
                  <tr>
                    <th class="border w-1/4 px-4 py-2">Employee Name</th>
                    <th class="border w-1/6 px-4 py-2">Email</th>
                    <th class="border w-1/6 px-4 py-2">Department</th>
                    <!-- <th class="border w-1/7 px-4 py-2">Status</th> -->
                    <th class="border w-1/5 px-4 py-2">Actions</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of empleeList">
                        <td class="border px-4 py-2">{{employee.id}}</td>
                        <td class="border px-4 py-2">{{employee.name}}</td>
                        <td class="border px-4 py-2">{{employee.email}}</td>

                        <!-- <td class="border px-4 py-2"> <i class="fas fa-check text-green-500 mx-2"></i> </td> -->
                        <td class="border px-4 py-2" > 
                            <a class="bg-teal-300 cursor-pointer rounded p-1 mx-1 text-white">
                                    <i class="fas fa-eye"></i></a>
                            <a class="bg-teal-300 cursor-pointer rounded p-1 mx-1 text-white">
                                    <i class="fas fa-edit"></i></a>
                            <a class="bg-teal-300 cursor-pointer rounded p-1 mx-1 text-red-500">
                                    <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>